<?xml version="1.0"?>
<theme>
    <name>EstiloODEcREAtum</name>
    <title>Estilo cREAtum</title>
    <version>2026</version>
    <compatibility>3.0</compatibility>
    <author>Basado en el estilo zen de 3ipunt for eXeLearning.net, modificado y adaptado por Fernando Jiménez con ayuda de IA (Gemini by Google) </author>
    <license>Creative Commons by-sa</license>
    <license-url>http://creativecommons.org/licenses/by-sa/3.0/</license-url>
    <description>Estilo ODEs cREAtum 2026.

logo cREAtum by Victoria de Opazo Olano y Francisco Esquinas Romera.

iDevice icons by Google (https://fonts.google.com/icons), under the 2.0 version of the Apache License (https://www.apache.org/licenses/LICENSE-2.0.html).

Inter Font, by Rasmus Andersson, under the SIL Open Font License, Version 1.1. Copyright (c) 2016-2020 The Inter Project Authors (https://github.com/rsms/inter).</description>
    <downloadable>1</downloadable>
</theme>
